DJANGO_DATABASES_ENGINE=
DJANGO_DATABASES_NAME=
DJANGO_DATABASES_USER=
DJANGO_DATABASES_PASSWORD=
DJANGO_DATABASES_HOST=
DJANGO_DATABASES_PORT=
DJANGO_ALLOWED_HOSTS=  # you may use a comma separated list here to support multiple allowed hosts
DJANGO_TIME_ZONE=
DJANGO_SECRET_KEY= 