CCGDATA_DATABASE_NAME=
CCGDATA_DATABASE_USER=
CCGDATA_DATABASE_PASSWORD=
CCGDATA_DATABASE_HOST=
CCGDATA_DATABASE_PORT=

DJANGO_DATABASE_ENGINE=
DJANGO_ALLOWED_HOSTS=  # you may use a comma separated list here to support multiple allowed hosts
DJANGO_TIME_ZONE=
DJANGO_SECRET_KEY=